<mat-card class="card">
    <mat-card-content>
        <form>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" id="password" name="password" [(ngModel)]="password" (keyup)="checkPasswordStrength()" />
            </mat-form-field>

            <div class="strength-section">
                <div [ngClass]="{
            'strength-bar': true,
            'strength-bar-red': passwordStrength === 'weak',
            'strength-bar-yellow': passwordStrength === 'medium',
            'strength-bar-green': passwordStrength === 'strong'
          }"></div>
                <div [ngClass]="{
            'strength-bar': true,
            'strength-bar-yellow': passwordStrength === 'medium',
            'strength-bar-green': passwordStrength === 'strong'
          }"></div>
                <div [ngClass]="{
            'strength-bar': true,
            'strength-bar-green': passwordStrength === 'strong'
          }"></div>
            </div>
        </form>
    </mat-card-content>
</mat-card>